* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $neutral-white;
  color: $primary-600;
  font-size: 13px;
  font-family: var(--font-mono), monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-padding-block-start: 1rem;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ol,
ul {
  // padding-left: 40px;
  // margin: 13px 0;

  @include onMobileLg {
    padding-left: 16px;
  }
}

.not-found {
  height: calc(100vh - 64px - 16px - 16px - 56px - 16px - 16px);
  background-color: $neutral-white;
  color: $secondary-500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-x3;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
}
