* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $primary-600;
  color: $neutral-white;
  font-size: 13px;
  font-family: var(--font-mono), monospace !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

.spacer {
  flex: 1;
  margin-inline-end: auto;
}

ul {
  list-style: none;
}

.code {
  background-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.to-top-fab {
  position: fixed;
  bottom: $space-x2;
  right: $space-x2;
  padding: $space-x1;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: $accent-400;
  cursor: pointer;
  transition-property: background, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  z-index: 10;
  opacity: 0;

  @media print {
    display: none;
  }

  &.show {
    opacity: 1;
  }
  img {
    display: block;
  }

  &:hover {
    background-color: $accent-500;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $primary-500;
}

.ext-link {
  color: $secondary-200;
  text-decoration: underline;
  &:hover {
    color: $secondary-300;
  }
}
