.button {
  border: none;
  padding: $space-base $space-x2;
  border-radius: $space-xs;
  cursor: pointer;
  transition: background 0.2s ease-in;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: $space-base;

  &.variant-primary {
    background-color: $primary-400;
    color: $neutral-white;
    &:hover {
      background-color: $primary-500;
    }
  }

  &.variant-alt {
    background-color: $secondary-200;
    color: $secondary-600;
    &:hover {
      background-color: $secondary-300;
    }
  }

  &.variant-secondary {
    background-color: transparent;
    color: $primary-400;
    outline: 1px solid currentColor;
    &:hover {
      background-color: $primary-100;
    }
  }

  &:has(a) {
    padding: 0;
  }
  a {
    padding: $space-base $space-x2;
    display: block;
    height: 100%;
    width: 100%;
  }

  &:disabled {
    background-color: $neutral-400;
    color: $neutral-white;
    cursor: not-allowed;
    &:hover {
      background-color: $neutral-400;
    }
  }
}
