.features-section {
  @extend .section-base;
  .features-list {
    display: flex;
    justify-content: center;
    gap: $space-base;
    flex-wrap: wrap;

    @include onMobileLg {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .features-card {
      background-color: $primary-500_50;
      padding: $space-x4 $space-x2;
      border-radius: $space-xs;
      display: flex;
      flex-direction: column;
      gap: $space-x2;
      text-align: center;
      width: 300px;
      transition: background 0.3s, outline 0.3s;
      transition-timing-function: ease-in;
      outline: 1px solid transparent;

      @include onTablet {
        width: 200px;
      }
      @include onMobileLg {
        width: 100%;
      }

      user-select: none;
      &:hover {
        outline-color: $primary-500_50;
        background-color: $primary-500_5;
      }

      span {
        color: $secondary-300;
        font-weight: 700;
        font-size: $space-x3;
      }
      p {
        margin: auto 0;
        color: $neutral-white;
        font-weight: 500;
        font-size: $space-x2;
        @include onTablet {
          font-size: 1em;
        }
      }
    }
  }
}
