.hero-section {
  display: flex;
  padding: $space-x4 $space-x2;
  align-items: center;
  height: 90vh;
  .description-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $space-x6;
    .headline {
      & > span {
        display: block;
        &.tag {
          font-size: $space-x3;
        }
        &:not(.tag) {
          font-size: $space-x4;
          color: $primary-200;
          line-height: 1.2;
          font-weight: 600;
        }
      }
    }
    .subheader {
      & > span {
        display: block;
        &.tag {
          font-size: $space-x2;
        }
        &:not(.tag) {
          font-size: $space-x2;
          color: $neutral-100;
          line-height: 1.2;
          font-weight: 400;
        }
      }
    }
    .header-cta {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: $space-base;
    }
  }
  .editor-side {
    flex: 0.8;
  }
}
