.contact-section {
  padding: $space-x6 $space-x10;
  margin-top: $space-x5;
  gap: $space-x6;
  background-color: $secondary-500;
  color: $neutral-white;
  display: flex;
  align-content: center;
  justify-content: center;

  @include onMobileLg {
    margin-top: 0;
    padding: $space-x4 $space-x3;
    flex-direction: column;
    gap: $space-x4;
  }

  main,
  aside {
    flex: 1;
    display: flex;
    align-items: center;
    gap: $space-x5;
    flex-direction: column;
  }

  h3 {
    font-size: $space-x2;
    max-width: 80%;
    text-align: center;
  }

  .contacts_social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-x4;

    @include onMobileLg {
      flex-wrap: wrap;
    }
  }

  .contacts_social-media {
    gap: $space-x2;
    img {
      height: $space-x3;
      opacity: 0.2;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .contacts_info {
    display: flex;
    flex-direction: column;
    gap: $space-x2;
    span {
      display: block;
      text-align: center;
      font-size: 1em;
      color: $secondary-200;
      font-weight: 400;
      transition: 0.3s ease-in-out;
      cursor: default;

      a {
        cursor: text;
      }

      &:hover {
        color: $neutral-white;
      }
    }
  }
}
