.features-section {
  @extend .section-base;

  h3 {
    margin: $space-x3 0;
  }

  aside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-x4;
    max-width: 900px;

    img {
      height: 200px;
      width: auto;
    }
    p {
      font-weight: 500;
      font-size: 2rem;
      color: $secondary-400;
      font-style: italic;
      font-family: var(--font-sans), sans-serif;
    }
    @include onMobileLg() {
      flex-direction: column;
      p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
  .features-list {
    display: flex;
    justify-content: space-between;
    gap: $space-base;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px;

    &.grid {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 40%;

      @include onMobileLg() {
        width: unset;
      }
    }
    // @include onMobileLg {
    //   display: grid;
    //   grid-template-columns: 50% 50%;
    // }

    .features-card {
      display: flex;
      align-items: center;
      gap: $space-x1;

      span {
        display: block;
        color: $secondary-400;
        font-weight: 400;
        font-size: $space-x2;
      }
    }
  }
}
