.partners-section {
  @extend .section-base;

  .partners-list {
    display: flex;
    justify-content: center;
    gap: $space-x5;
    margin-top: $space-x2;

    .partner-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $space-base;

      cursor: pointer;
      user-select: none;

      transition: opacity 0.2s ease-in-out;

      img {
        height: 60px;
      }

      span {
        display: block;
        font-weight: 500;
        font-size: 1em;
        letter-spacing: 0.3px;
        animation: slide-in 0.4s ease-out 1 forwards;
        opacity: 0;
        color: $primary-500;
      }

      &:hover {
        opacity: 1;
        span {
          animation: slide-out 0.4s ease-out 1 forwards;
        }
      }
    }
  }
}

@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateY(-$space-x2);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-$space-x2);
  }
}
