.contact-section {
  @extend .section-base;
  padding: $space-x4 $space-x3;
  margin-top: $space-x5;
  gap: $space-x6;

  @include onMobileLg {
    margin-top: 0;
  }
  h3 {
    font-size: $space-x2;
    max-width: 60%;

    @include onMobileLg {
      max-width: unset;
    }
  }

  .contact_or-tag {
    font-weight: 700;
    font-size: $space-x2;
    margin: $space-x2 0;

    @include onMobileLg {
      margin: 0;
    }
  }

  .contacts_info,
  .contacts_social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-x4;

    @include onMobileLg {
      flex-wrap: wrap;
    }
  }

  .contacts_social-media {
    gap: $space-x2;
    img {
      height: $space-x3;
      opacity: 0.2;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .contacts_info span {
    font-size: 1em;
    color: $neutral-200;
    font-weight: 400;
    transition: 0.3s ease-in-out;

    a {
      cursor: text;
    }

    &:hover {
      color: $neutral-white;
    }
  }
}
