.courses-section {
  h3 {
    text-align: center;
    color: $neutral-white;
    font-size: $space-x3;
    font-weight: 700;
    margin-bottom: $space-x3;
  }
  .course-modules__list {
    gap: $space-x3;
    .course-module__item {
      display: flex;
      .course-module__item-details {
        height: 100vh;
        flex: 1;
        overflow: auto;
        border-top: 1px solid $primary-500;
        border-bottom: 1px solid $primary-500;

        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        .cours-module__details {
          padding: $space-x5 $space-x3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: $space-x3;
          // height: 100vh;

          h4 {
            color: $secondary-300;
            font-size: $space-x2;
            font-weight: 700;
            margin-bottom: $space-xs;
          }

          p {
            color: $neutral-100;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .cours-module__code {
        width: 40%;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        & > * {
          flex: 1;
        }
      }
    }
  }
}
