.hero-section {
  display: flex;
  padding: $space-x4 $space-x2;
  align-items: center;
  height: 90vh;
  @include onTablet {
    align-items: stretch;
    height: unset;
    padding: $space-x6 $space-x2;
    flex-direction: column;
    gap: $space-x2;
  }
  .description-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $space-x6;
    @include onTablet {
      gap: $space-x2;
      flex: unset;
    }
    .headline {
      & > span {
        display: block;
        &.tag {
          font-size: $space-x3;
          @include onTablet {
            font-size: 1em;
          }
        }
        &:not(.tag) {
          font-size: $space-x4;
          color: $primary-200;
          line-height: 1.2;
          font-weight: 600;
          @include onTablet {
            font-size: 1.5em;
          }
        }
      }
    }
    .subheader {
      & > span {
        display: block;
        &.tag {
          font-size: $space-x2;
          @include onTablet {
            font-size: 0.8em;
          }
        }
        &:not(.tag) {
          font-size: $space-x2;
          color: $neutral-100;
          line-height: 1.2;
          font-weight: 400;
          @include onTablet {
            font-size: 0.7em;
          }
        }
      }
    }
    .header-cta {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: $space-base;
      @include onTablet {
        margin-top: $space-x4;
      }
      @include onMobileLg {
        flex-direction: column;
      }
    }
  }
  .editor-side {
    flex: 0.8;
    @include onTablet {
      flex: unset;

      & > div {
        padding: 0;
      }
    }
  }
}
