$card-width: 420px;
$card-width_sm: 320px;
.active-program-section {
  @extend .section-base;
  gap: $space-x10;

  .active-program-list {
    display: flex;
    justify-content: center;
    gap: $space-x5;

    @include onTablet {
      gap: $space-x3;
      flex-wrap: wrap;
    }

    .active-program-card {
      background-color: $secondary-500;
      display: flex;
      flex-direction: column;
      gap: $space-x2;
      padding: $space-x3 $space-x2;
      border-radius: $space-x2;
      width: $card-width;
      @include onTablet {
        width: $card-width_sm;
      }
      header {
        display: flex;
        justify-content: center;
        align-items: center;
        h5 {
          font-size: $space-x2;
          color: $secondary-100;
          font-weight: 700;
          line-height: 1;
          text-align: center;
        }
      }
      .active-program-card__description {
        p {
          font-size: 1em;
          color: $neutral-white;
          font-weight: 400;
          line-height: 1.5;
        }
        .active-program-card__urls {
          display: flex;
          align-items: center;
          margin-top: $space-base;
          gap: $space-base;

          a {
            color: $primary-300;
          }
        }
      }
    }
  }

  .active-program-stack {
    display: flex;
    background-color: $primary-500;
    border-radius: $space-base;
    padding: $space-base $space-x2;
    gap: $space-x2;
    justify-content: center;
    align-items: center;

    @include onMobileLg {
      flex-wrap: wrap;
    }

    div {
      transition: 0.2s ease-in-out;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        background-color: $secondary-300;
        transition: 0.1s ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 1;
          bottom: -$space-base;
        }
        transform: translateY(-$space-base);
      }
      img {
        height: $space-x3;
      }
    }
  }
}
