.contact-section {
  padding: $space-x3 $space-x4;
  margin-top: $space-x5;
  display: flex;
  flex-direction: column;
  gap: $space-x6;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
    color: $neutral-white;
    font-size: $space-x2;
    font-weight: 700;
    max-width: 60%;
  }

  .contact-form {
  }

  .contact_or-tag {
    font-weight: 700;
    font-size: $space-x2;
    margin: $space-x2 0;
  }

  .contacts_info,
  .contacts_social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-x4;
  }

  .contacts_social-media {
    gap: $space-x2;
    img {
      height: $space-x3;
      opacity: 0.2;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .contacts_info span {
    font-size: 1em;
    color: $neutral-200;
    font-weight: 400;
    transition: 0.3s ease-in-out;

    a {
      cursor: text;
    }

    &:hover {
      color: $neutral-white;
    }
  }
}
