.top-nav {
  @media print {
    display: none;
  }
  padding: $space-x2;
  ul {
    display: flex;
    align-items: center;
    background-color: $secondary-500;
    border-radius: $space-base;
    padding: $space-x2 $space-x3;
    color: $neutral-white;
    gap: $space-x3;

    li {
      @include onMobileLg {
        &:not(:first-child, :last-child) {
          display: none;
        }
      }
      a {
        display: block;
        img {
          height: 100%;
          display: block;
        }
        span {
          font-size: 1em;
          font-weight: 400;
          // transition: opacity 0.2s ease-out;
          transition-property: text-decoration, opacity;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          &:hover {
            opacity: 0.6;
          }
        }
      }

      &.cta {
        // margin-inline-start: auto;
        span {
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
